{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="gota-danger-page">

  <div class="gota-danger-card">

    <div class="gota-danger-card__icon">
      <i
        class="far fa-trash-alt"
        aria-hidden="true"
      ></i>
    </div>

    <span class="gota-danger-card__kicker">
      Eliminar cafetería
    </span>

    <h1 class="gota-danger-card__title">
      ¿Querés eliminar {{ cafe.name }}?
    </h1>

    <p class="gota-danger-card__description">
      Esta acción eliminará la cafetería de Gota y no se puede deshacer.
    </p>

    <form
      method="post"
      class="gota-danger-card__actions"
    >
      {% csrf_token %}

      <button
        type="submit"
        class="gota-danger-card__delete"
      >
        <i
          class="far fa-trash-alt"
          aria-hidden="true"
        ></i>

        <span>Eliminar cafetería</span>
      </button>

      <a
        href="{% url 'reviews:owner_dashboard' %}"
        class="gota-danger-card__cancel"
      >
        Cancelar
      </a>

    </form>

  </div>

</div>

{% endblock %}