{% extends "base.html" %}
{% load static %}

{% block content %}
    h1>Iniciar sesión</h1>

    {% if form.errors %}
        <p style="color: red;">Usuario o contraseña inválidos. Intenta de nuevo.</p>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <label for="id_login">Usuario o Email:</label><br>
        {{ form.login }}<br><br>

        <label for="id_password">Contraseña:</label><br>
        {{ form.password }}<br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>¿No tenés cuenta?
        <a href="{% url 'account_signup' %}">Registrate aquí</a>
    </p>
{% endblock %}
